main {
  position: relative;
  overflow: auto;
}

.btn {
  background-color: rgb(169, 169, 169);
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.navigation-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.grid li img {
  width: 40px;
  height: 40px;
}

#skills ul, .footer ul {
  list-style: none;
}

#work img {
  border-radius: 10px;
  border: 1px solid #ddd;
}

#work a {
  font-size: 1.1rem;
  margin-right: 20px;
  color: #5b5b5b;
  display: inline-block;
  text-decoration: none;
}

.footer a {
  font-size: 3.1rem;
  margin-right: 20px;
  color: #5b5b5b;
  display: inline-block;
  text-decoration: none;
}

.btn:hover {
  background-color: rgb(93, 93, 93);
  color: white;
}